
body {
font-family: "ComicSans", sans-serif;
}
.sidenav {
height: 150%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #945C95;
overflow-x: hidden;
padding-top: 20px;
}
.sidenav a, .dropdown-btn {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #E1E1E1;
display: block;
border: none;
background: none;
width: 100%;
text-align: left;
cursor: pointer;
outline: none;
}
.sidenav a:hover, .dropdown-btn:hover {
color: #B2A536;
}
.main {
margin-left: 200px; /* Same as the width of the sidenav */
font-size: 20px; /* Increased text to enable scrolling */
padding: 0px 10px;
}
.active {
background-color: #844D87;
color: white;
}
.dropdown-container {
display: none;
background-color: #542E56;
padding-left: 8px;
}
.fa-caret-down {
float: right;
padding-right: 8px;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 15px;}
}
body 
{
background-image: url(images/115.jpg);
margin: 0;
padding: 0;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
}
.logo  {
position: absolute;
top: 0px;
left:200px;
}
.contenido {
background-color: white;
width: 800px;
padding: 10px 50px 80px 50px;
margin: 0 auto;
box-shadow: 0 2px 10px #444;
}
.contenido h1 {
margin: 0;
font-size: 30px;
line-height: 60px;
border-bottom: 1px solid #DDD;
margin-bottom: 20px;
        
}
.contenido p {
text-align: justify;
line-height: 20px;
}
.destacado {
background-color: #EEE;
padding: 20px;
box-shadow: 0 2px 10px #444;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50;
  margin-top: -22px;
  padding: 16px;
  color: #9D24DE;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(1,1,1,1.8);
}

/* Caption text */
.text {
  color: #9D24DE;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #9D24DE;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #9D24DE;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
